#main .nav-pills > li.active > a,
#main .nav-pills > li.active > a:hover,
#main .nav-pills > li.active > a:focus {
   background-color: #56a86f;
}

#main .nav-pills > li > a:hover {
  background-color: #193807;
}

#main a:link {
  color:#56a86f;
}

/* visited link */
#main a:visited {
  color: #56a86f;
}

/* mouse over link */
#main a:hover {
  color: #56a86f;
}

h1,h2,h3,h4,h5,h6,legend{
    color: #193807;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

body {
  font-size: 15px;
}

#nav-top span.glyphicon {
  color: #193807;
}

#table-of-contents header{
    color:#193807;
    background-color: #193807;
}

#table-of-contents h2{
    background-color:#56a86f;
}



a:hover{
    color:#193807
}

a:visited{
    color:#193807
}

#sidebar {
    color: #D9AB16;
    background: #193807;
}

#sidebar h2, postamble {
    color: #FFFFFF;
    background-color: #193807;
}

#sidebar a {
    color: #FFFFFF;
}

#sidebar a:hover {
    background-color: #3F4548;
    color: #FFFFFF;
}

.navbar {
    font-color:#FFFFFF ;
    color: #FFFFFF;
    background-image: linear-gradient(120deg,  #193807, #7eb360);
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover {
    color: #7eb360;
    background-color: transparent
}

.navbar-default .navbar-nav>li>a {
    color: #193807;
}

.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
    background-color: #193807
}


.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
    color: #193807;
    text-decoration: none;
    background-color: #f5f5f5
}

.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color:#193807;
    outline: 0
}

.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #193807
}

#main :not(.leaflet-control) > a {
    background-image: linear-gradient(180deg, #193807, #8cb079);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 2em;
    color:  #7eb360;
    font-weight: 300;
    padding: .125em 1px 0 1px;
    transition: background-position .15s, color .15s;
}

#sidebar a{
    display:block;
    line-height:18px;
    padding:0.4045em 1.618em;
    position:relative;
    font-size:110%;
    color:#b3b3b3;
    direction: ltr;
    text-decoration: none;
}